Repository binary-com/deriv-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, svgo, svgo -h

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ],
    "*.svg": [
        "svgo",
        "svgo -h"
    ]
}

Vinu/Deriv UI tooltip (#257)
  package-lock.json
  package.json
  src/components/core/index.ts
  src/components/core/tabs/tabs.tsx
  src/components/core/tooltip/arrow-tooltip/arrow-tooltip.tsx
  src/components/core/tooltip/arrow-tooltip/stories/arrow-tooltip.stories.tsx
  src/components/core/tooltip/tooltip/stories/tooltip.stories.tsx
  src/components/core/tooltip/tooltip/tooltip-content.tsx
  src/components/core/tooltip/tooltip/tooltip-trigger.tsx
  src/components/core/tooltip/tooltip/tooltip.tsx
  src/images/svg/curved-arrow.svg
  src/images/svg/straight-arrow.svg
Due: prettier --write, svgo, svgo -h

Fix link in README.md
  README.md
Due: none

Update package-lock.json
  package-lock.json
Due: none

hamid/74933/update-packages (#281)
  .eslintrc.js
  package-lock.json
  package.json
  svgTransform.js
  webpack.config.ts
Due: none

chore: update package
  package-lock.json
  package.json
Due: none

chore: update package (#301)
  package-lock.json
  package.json
Due: none

add-functionality-to-disable-back-button-in-wizard-component
  src/components/core/wizard/desktop-wizard/desktop-wizard.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/right-panel.tsx
  src/components/core/wizard/types.ts
Due: prettier --write

add-functionality-to-disable-back-button-in-wizard-component (#313)
  src/components/core/wizard/desktop-wizard/desktop-wizard.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/right-panel.tsx
  src/components/core/wizard/types.ts
Due: prettier --write

update package version
  package-lock.json
  package.json
Due: none

update package version (#314)
  package-lock.json
  package.json
Due: none

Fix link in README.md (#288)
  README.md
Due: none

Added basic workflow
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

replace checked svg in checkbox with input checkbox
  src/components/core/checkbox/checkbox.tsx
Due: prettier --write

removed unused checkbox-icon svg
  src/images/svg/checkbox-icon.svg
Due: svgo, svgo -h

Added new workflow for bumping up to minor version
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

added comments
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

Changed npm run build to npm run build_and_publish
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

Changed base of PR
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

Adrienne / Bump to minor version and release Github action automation (#320)
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

fix: ssr issue with window object
  src/utils/responsive.ts
Due: prettier --write

fix ssr issue window
  src/utils/responsive.ts
Due: prettier --write

fix tests issue
  src/utils/responsive.ts
  webpack.config.ts
Due: prettier --write

fix: ssr issue with window object (#330)
  src/utils/responsive.ts
  webpack.config.ts
Due: prettier --write

Update repo name
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

Update branch name
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

0.1.0
  package-lock.json
  package.json
Due: none

feat: bump from 0.0.15 to 0.1.0
  package-lock.json
Due: none

Vinu/ replace checked svg in checkbox with input checkbox (#319)
  src/components/core/checkbox/checkbox.tsx
  src/images/svg/checkbox-icon.svg
Due: prettier --write, svgo, svgo -h

feat: add text-field component
  package-lock.json
  package.json
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
  src/images/svg/location-pin.svg
Due: prettier --write, svgo, svgo -h

fix: fix hint ts error
  src/components/core/text-field/stories/text-field.stories.tsx
Due: prettier --write

perf: add display name, add CSS type
  src/components/core/button/button.tsx
Due: prettier --write

feat: add textfield with button, refactor input states, improve colors
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

feat: add labelless textfields
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

feat(badge): :zap: add suffix label, add onClick handlers for icons
  src/components/core/badge/badge.test.tsx
  src/components/core/badge/badge.tsx
  src/components/core/badge/stories/badge.stories.tsx
Due: prettier --write

refactor: improve badge component
  src/components/core/badge/badge.tsx
Due: prettier --write
