Repository binary-com/deriv-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, svgo, svgo -h

added id to svg path
  .lintstagedrc
Due: none

added id to svg path
  src/images/svg/breadcrumb-seperator.svg
  svgo.config.js
Due: svgo, svgo -h

replaced breadcrumb svg
  src/components/core/breadcrumb/breadcrumb.tsx
  src/images/svg/breadcrumb-seperator.svg
Due: prettier --write, svgo, svgo -h

added font-size for mobile in breadcrumb
  src/components/core/breadcrumb/breadcrumb.tsx
Due: prettier --write

fixed lint warning
  svgo.config.js
Due: none

fixed typo in breadcrumb.tsx file
  src/components/core/breadcrumb/breadcrumb.tsx
Due: prettier --write

Vinu/feat:added variant monochrome in button component (#196)
  src/components/core/button/button.tsx
  src/components/core/button/stories/button.stories.tsx
Due: prettier --write

chore: updated dependencies
  package-lock.json
  package.json
Due: none

chore: bump package version
  package-lock.json
  package.json
Due: none

chore: bump package versions
  package-lock.json
  package.json
Due: none

yashim/chore: updated dependencies (#214)
  package-lock.json
  package.json
Due: none

removed any as return ty pe for function inside breadcrumb.tsx
  .eslintrc.js
  src/components/core/breadcrumb/breadcrumb.tsx
Due: prettier --write

Add addon-a11y to the storybook
  .storybook/main.ts
  package-lock.json
  package.json
  src/components/core/button/stories/button.stories.tsx
Due: prettier --write

Remove test components
  src/components/core/button/stories/button.stories.tsx
Due: prettier --write

hamid/add-a11y-plugin (#227)
  .storybook/main.ts
  package-lock.json
  package.json
Due: none

Publish to Cloudflare (on push master, on tag production)
  .circleci/config.yml
Due: none

tib/chore: publish to Cloudflare (on push master, on tag production) (#231)
  .circleci/config.yml
Due: none

feat: implemented textfield basic layout
  package-lock.json
  package.json
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.module.scss
  src/components/core/text-field/text-field.tsx
Due: prettier --write

feat: incorporated text area and status css
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.module.scss
  src/components/core/text-field/text-field.tsx
  src/images/svg/location-pin.svg
Due: prettier --write, svgo, svgo -h

feat: incorporated light and dark mode
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.module.scss
  src/components/core/text-field/text-field.tsx
Due: prettier --write

fix: added field states
  src/components/core/text-field/text-field.tsx
Due: prettier --write

ref: improved comments
  src/components/core/text-field/text-field.tsx
Due: prettier --write

ref: Incorporated review comments
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

vinu/feat: add breadcrumb component (#204)
  .eslintrc.js
  src/components/core/breadcrumb/breadcrumb.tsx
  src/components/core/breadcrumb/stories/breadcrumb.stories.tsx
  src/images/svg/breadcrumb-seperator.svg
  svgo.config.js
Due: prettier --write, svgo, svgo -h

ref: incorporated dynamic library import
  src/components/core/text-field/text-field.tsx
Due: prettier --write

fix: recreated package-lock file
  package-lock.json
Due: none

fix: issue with package-lock
  package-lock.json
Due: none

Pin wrangler version
  .circleci/config.yml
Due: none

Pin wrangler version (#236)
  .circleci/config.yml
Due: none

chore: update verison
  package-lock.json
  package.json
Due: none

chore: update verison (#237)
  package-lock.json
  package.json
Due: none

fix: fixed repo's jest configs
  jest.config.js
Due: none

fix: fixed typo
  jest.config.js
Due: none

Mohsen / fixed repo's jest configs (#239)
  jest.config.js
Due: none

feature: added badge component
  src/components/core/badge/__snapshots__/badge.test.tsx.snap
  src/components/core/badge/badge.test.tsx
  src/components/core/badge/badge.tsx
  src/components/core/badge/stories/badge.stories.tsx
Due: prettier --write

update: updated badge component tests
  src/components/core/badge/__snapshots__/badge.test.tsx.snap
  src/components/core/badge/badge.test.tsx
Due: prettier --write

update: added compound variants to badge component
  src/components/core/badge/badge.tsx
Due: prettier --write

added checkbox and checkbox list component
  src/components/core/checkbox-list/checkbox-list.tsx
  src/components/core/checkbox-list/stories/checkbox-list.stories.tsx
  src/components/core/checkbox/checkbox.module.scss
  src/components/core/checkbox/checkbox.tsx
  src/components/core/checkbox/stories/checkbox.stories.tsx
Due: prettier --write

Mohsen / added badge component (#240)
  src/components/core/badge/badge.test.tsx
  src/components/core/badge/badge.tsx
  src/components/core/badge/stories/badge.stories.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
  svgo: any of: *.svg
  svgo -h: any of: *.svg
