Repository binary-com/deriv-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, svgo, svgo -h

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ],
    "*.svg": [
        "svgo",
        "svgo -h"
    ]
}

feat: add input with badges
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
  src/images/svg/circular-close-icon.svg
Due: prettier --write, svgo, svgo -h

feat: add input with badges
  src/components/core/text-field/text-field.tsx
  src/components/core/text-field/utils.ts
Due: prettier --write

feat: add labelless desktop w/wo border
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

feat: add predefined badges
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: with presuffix
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: remove pre_suffix
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: remove comments
  src/components/core/text-field/text-field.tsx
Due: prettier --write

fix: fix typescript errors
  src/components/core/text-field/text-field.tsx
Due: prettier --write

add dropdown
  src/components/core/dropdown/dropdown.tsx
Due: prettier --write

refactor: hide password meter, add suffix currency for future stake component
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: badge icon
  src/components/core/badge/badge.test.tsx
  src/components/core/badge/badge.tsx
  src/components/core/badge/stories/badge.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: minor improvements
  src/components/core/badge/badge.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: minor improvements
  src/components/core/badge/badge.test.tsx
  src/components/core/badge/badge.tsx
  src/components/core/badge/stories/badge.stories.tsx
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: function naming
  src/components/core/text-field/text-field.tsx
Due: prettier --write

refactor: minor improvement
  src/components/core/text-field/text-field.tsx
Due: prettier --write

feat: dropdown menu (prompt)
  package.json
  src/components/core/dropdown/display-text.tsx
  src/components/core/dropdown/dropdown-list.tsx
  src/components/core/dropdown/dropdown.tsx
  src/components/core/dropdown/items.tsx
  src/components/core/dropdown/stories/dropdown.stories.tsx
  src/components/core/dropdown/types.ts
  src/components/core/scrollbars/scrollbars.tsx
  src/hooks/index.ts
  src/hooks/use-onclickoutside.ts
  src/images/svg/chevron-down-dark.svg
  src/images/svg/chevron-down-light.svg
  src/images/svg/question-mark-icon.svg
Due: prettier --write, svgo, svgo -h

george / rm61199 / add text-field component (#347)
  package-lock.json
  package.json
  src/components/core/badge/badge.test.tsx
  src/components/core/badge/badge.tsx
  src/components/core/badge/stories/badge.stories.tsx
  src/components/core/button/button.tsx
  src/components/core/text-field/stories/text-field.stories.tsx
  src/components/core/text-field/text-field.tsx
  src/components/core/text-field/utils.ts
  src/images/svg/circular-close-icon.svg
  src/images/svg/location-pin.svg
Due: prettier --write, svgo, svgo -h

commit2
  package-lock.json
  src/components/core/dropdown/display-text.tsx
  src/components/core/dropdown/dropdown-list.tsx
  src/components/core/dropdown/dropdown.tsx
  src/components/core/dropdown/items.tsx
  src/components/core/dropdown/list-items.tsx
  src/components/core/dropdown/stories/dropdown.stories.tsx
  src/components/core/dropdown/types.ts
Due: prettier --write

feat: add combobox dropdown menu
  src/components/core/dropdown/dropdown-list.tsx
  src/components/core/dropdown/dropdown.tsx
  src/components/core/dropdown/list-items.tsx
  src/components/core/dropdown/stories/dropdown.stories.tsx
Due: prettier --write

refactor: minor improvements
  src/components/core/dropdown/display-text.tsx
  src/components/core/dropdown/dropdown-list.tsx
  src/components/core/dropdown/dropdown.tsx
  src/components/core/dropdown/list-items.tsx
Due: prettier --write

feat: add AddListDropdown menu
  src/components/core/dropdown/dropdown-base/display-text.tsx
  src/components/core/dropdown/dropdown-base/dropdown-base.tsx
  src/components/core/dropdown/dropdown-base/dropdown-list.tsx
  src/components/core/dropdown/dropdown-base/list-items.tsx
  src/components/core/dropdown/dropdown-variants/add-list-dropdown/index.tsx
  src/components/core/dropdown/dropdown-variants/combobox-dropdown/index.tsx
  src/components/core/dropdown/dropdown-variants/prompt-dropdown/index.tsx
  src/components/core/dropdown/dropdown.tsx
  src/components/core/dropdown/stories/AccountOption.tsx
  src/components/core/dropdown/stories/add-list-dropdown.stories.tsx
  src/components/core/dropdown/stories/combobox-dropdown.stories.tsx
  src/components/core/dropdown/stories/dropdown.stories.tsx
  src/components/core/dropdown/stories/prompt-dropdown.stories.tsx
  src/components/core/dropdown/stories/utils.tsx
  src/components/core/dropdown/types.ts
  src/components/core/dropdown/types/index.ts
  src/components/core/list/composed/check-list-item.tsx
  src/components/core/list/composed/compound-list-item.tsx
  src/components/core/list/list-variants/bulleted/index.tsx
  src/components/core/list/list-variants/check/index.tsx
  src/components/core/list/list-variants/compound/index.tsx
  src/components/core/list/list-variants/number/index.tsx
  src/components/core/list/list.test.tsx
  src/components/core/list/render-functions/index.tsx
  src/components/core/list/stories/bulletelist.stories.tsx
  src/components/core/list/types/index.ts
  src/components/core/text-field/stories/text-field.stories.tsx
  src/images/svg/add-circular-icon.svg
  src/images/svg/trash-bin-icon.svg
Due: prettier --write, svgo, svgo -h

fix: fix types errors
  src/components/core/list/stories/utils.tsx
Due: prettier --write

refactor: change strucure of the item in breadcrumb
  src/components/core/breadcrumb/breadcrumb.test.tsx
  src/components/core/breadcrumb/breadcrumb.tsx
  src/components/core/breadcrumb/stories/breadcrumb.stories.tsx
Due: prettier --write

refactor: extract item type
  src/components/core/breadcrumb/breadcrumb.tsx
  src/types/item.types.ts
Due: prettier --write

george / rm90856 / breadcrumb component improvement (#366)
  src/components/core/breadcrumb/breadcrumb.test.tsx
  src/components/core/breadcrumb/breadcrumb.tsx
  src/components/core/breadcrumb/stories/breadcrumb.stories.tsx
  src/types/item.types.ts
Due: prettier --write

Update generate_and_push_deriv_ui.yml
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

bala/chore: update generate_and_push_deriv_ui.yml (#369)
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

chore: bump package version
  package-lock.json
  package.json
Due: none

feat: add-svgr-loader
  package-lock.json
  package.json
  src/components/core/accordion/accordion-title.tsx
  src/components/core/breadcrumb/breadcrumb.tsx
  src/components/core/tooltip/arrow-tooltip/arrow-tooltip.tsx
  src/globals.d.ts
  webpack.config.ts
Due: prettier --write

fix: failing test
  jest.config.js
Due: none

fix: regex
  jest.config.js
Due: none

chore: ignore svgr in storybook webpack
  .storybook/webpack.config.ts
Due: none

Bala/add-svgr-loader (#377)
  .storybook/webpack.config.ts
  jest.config.js
  package-lock.json
  package.json
  src/components/core/accordion/accordion-title.tsx
  src/components/core/breadcrumb/breadcrumb.tsx
  src/components/core/tooltip/arrow-tooltip/arrow-tooltip.tsx
  src/globals.d.ts
  webpack.config.ts
Due: prettier --write

chore: update npm and fix gh auth
  .github/workflows/generate_and_push_deriv_ui.yml
  package-lock.json
  package.json
Due: none

chore: run setup-git
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

Bala/update npm and fix gh auth (#378)
  .github/workflows/generate_and_push_deriv_ui.yml
  package-lock.json
  package.json
Due: none

chore: fix github action
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none

chore: fix github action (#379)
  .github/workflows/generate_and_push_deriv_ui.yml
Due: none
