Repository binary-com/deriv-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, svgo, svgo -h

added switch component
  package-lock.json
  package.json
  src/components/core/switch/stories/toggle-switch.stories.tsx
  src/components/core/switch/toggle-switch.tsx
Due: prettier --write

added switch in deriv-ui
  src/components/core/switch/stories/toggle-switch.stories.tsx
  src/components/core/switch/toggle-switch.tsx
Due: prettier --write

change in toggle switch storybook
  src/components/core/switch/stories/toggle-switch.stories.tsx
Due: prettier --write

added disable firld to switch
  src/components/core/toggle-switch/stories/toggle-switch.stories.tsx
  src/components/core/toggle-switch/toggle-switch.tsx
Due: prettier --write

feature: radio-button-group
  package-lock.json
  package.json
  src/components/core/radio/radio-group.tsx
  src/components/core/radio/stories/radio-group.stories.tsx
Due: prettier --write

added radio-button-group
  src/components/core/radio/radio-group.tsx
  src/components/core/radio/stories/radio-group.stories.tsx
Due: prettier --write

cahnge in radio-button-group story
  src/components/core/radio/stories/radio-group.stories.tsx
Due: prettier --write

feature: added list component
  src/components/core/index.ts
  src/components/core/list/base/base-list-item.tsx
  src/components/core/list/base/base-list.tsx
  src/components/core/list/base/base-ul.tsx
  src/components/core/list/composed/check-list-item.tsx
  src/components/core/list/composed/compound-list-item.tsx
  src/components/core/list/composed/derived-lists.tsx
  src/components/core/list/list-variants/bulleted/index.tsx
  src/components/core/list/list-variants/check/index.tsx
  src/components/core/list/list-variants/compound/index.tsx
  src/components/core/list/list-variants/number/index.tsx
  src/components/core/list/list.test.tsx
  src/components/core/list/list.tsx
  src/components/core/list/render-functions/index.tsx
  src/components/core/list/stories/bulletelist.stories.tsx
  src/components/core/list/stories/checklist.stories.tsx
  src/components/core/list/stories/compoundlist.stories.tsx
  src/components/core/list/stories/numberlist.stories.tsx
  src/components/core/list/stories/utils.tsx
  src/components/core/list/types/index.ts
  src/images/svg/checked-tick-icon.svg
  src/images/svg/default-action-icon.svg
  src/images/svg/default-list-icon.svg
  src/images/svg/default-tick-icon.svg
Due: prettier --write, svgo, svgo -h

added disabled state to radio button
  src/components/core/radio-group/radio-group.tsx
  src/components/core/radio-group/stories/radio-group.stories.tsx
Due: prettier --write

added disabled css in switch
  src/components/core/toggle-switch/toggle-switch.tsx
Due: prettier --write

added disabled css in checkbox
  src/components/core/checkbox-list/checkbox-list.tsx
  src/components/core/checkbox-list/stories/checkbox-list.stories.tsx
  src/components/core/checkbox/checkbox.tsx
Due: prettier --write

Vinu/added switch component (#242)
  package-lock.json
  package.json
  src/components/core/toggle-switch/stories/toggle-switch.stories.tsx
  src/components/core/toggle-switch/toggle-switch.tsx
Due: prettier --write

Vinu/Checkbox list component (#241)
  src/components/core/checkbox-list/checkbox-list.tsx
  src/components/core/checkbox-list/stories/checkbox-list.stories.tsx
  src/components/core/checkbox/checkbox.module.scss
  src/components/core/checkbox/checkbox.tsx
  src/components/core/checkbox/stories/checkbox.stories.tsx
Due: prettier --write

mobile-wizard
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard-body.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/step-navigation.test.tsx
  src/components/core/wizard/mobile-wizard/index.ts
  src/components/core/wizard/mobile-wizard/mobile-wizard-body.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/right-panel.tsx
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
  src/components/core/wizard/mobile-wizard/step.tsx
  src/components/core/wizard/mobile-wizard/stories/assets/cfds-background.svg
  src/components/core/wizard/mobile-wizard/stories/assets/ic-cfds-logo.svg
  src/components/core/wizard/mobile-wizard/stories/assets/ic-multipliers-logo.svg
  src/components/core/wizard/mobile-wizard/stories/assets/ic-options-logo.svg
  src/components/core/wizard/mobile-wizard/stories/assets/multipliers-background.svg
  src/components/core/wizard/mobile-wizard/stories/assets/options-background.svg
  src/components/core/wizard/mobile-wizard/stories/mobile-wizard.stories.tsx
  src/components/core/wizard/mobile-wizard/stories/steps/components/product-card.tsx
  src/components/core/wizard/mobile-wizard/stories/steps/steps-content.tsx
Due: prettier --write, svgo, svgo -h

integrate_desktop_and_mobile_wizard
  src/components/core/index.ts
  src/components/core/wizard/desktop-wizard/desktop-wizard.tsx
  src/components/core/wizard/desktop-wizard/stories/desktop-wizard.stories.tsx
  src/components/core/wizard/index.ts
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/stories/assets/cfds-background.svg
  src/components/core/wizard/mobile-wizard/stories/assets/ic-cfds-logo.svg
  src/components/core/wizard/mobile-wizard/stories/assets/ic-multipliers-logo.svg
  src/components/core/wizard/mobile-wizard/stories/assets/ic-options-logo.svg
  src/components/core/wizard/mobile-wizard/stories/assets/multipliers-background.svg
  src/components/core/wizard/mobile-wizard/stories/assets/options-background.svg
  src/components/core/wizard/mobile-wizard/stories/steps/components/product-card.tsx
  src/components/core/wizard/mobile-wizard/stories/steps/steps-content.tsx
  src/components/core/wizard/stories/assets/cfds-background.svg
  src/components/core/wizard/stories/assets/ic-cfds-logo.svg
  src/components/core/wizard/stories/assets/ic-multipliers-logo.svg
  src/components/core/wizard/stories/assets/ic-options-logo.svg
  src/components/core/wizard/stories/assets/multipliers-background.svg
  src/components/core/wizard/stories/assets/options-background.svg
  src/components/core/wizard/stories/steps/components/product-card.tsx
  src/components/core/wizard/stories/steps/steps-content.tsx
  src/components/core/wizard/stories/wizard.stories.tsx
  src/components/core/wizard/wizard.tsx
  src/styles/stitches.config.ts
  src/utils/index.ts
  src/utils/responsive.ts
Due: prettier --write, svgo, svgo -h

feat: implement review comments for radio button group
  src/components/core/radio-group/radio-group.tsx
  src/styles/stitches.config.ts
Due: prettier --write

feat: add design change for tab and tabs component
  colors.ts
  src/components/core/tabs/stories/tabs.stories.tsx
  src/components/core/tabs/tab.module.scss
  src/components/core/tabs/tab.tsx
  src/components/core/tabs/tabs.module.scss
  src/components/core/tabs/tabs.tsx
  src/styles/design-token.json
Due: prettier --write

styling changes in tab components
  src/components/core/tabs/stories/tabs.stories.tsx
  src/components/core/tabs/tab.tsx
Due: prettier --write

added css change in tab component
  src/components/core/tabs/tab.tsx
Due: prettier --write

cleanup
  src/components/core/wizard/__tests__/step-navigation.test.tsx
  src/components/core/wizard/__tests__/wizard-body.test.tsx
  src/components/core/wizard/__tests__/wizard.test.tsx
  src/components/core/wizard/desktop-wizard/desktop-wizard.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
  src/components/core/wizard/wizard.tsx
  tsconfig.json
Due: prettier --write

separate_right_panel
  src/components/core/wizard/desktop-wizard/right-panel.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
  src/components/core/wizard/stories/wizard.stories.tsx
  src/components/core/wizard/wizard.tsx
Due: prettier --write

bahar/mobile-wizard (#246)
  src/components/core/index.ts
  src/components/core/wizard/__tests__/step-navigation.test.tsx
  src/components/core/wizard/__tests__/wizard-body.test.tsx
  src/components/core/wizard/__tests__/wizard.test.tsx
  src/components/core/wizard/desktop-wizard/desktop-wizard.tsx
  src/components/core/wizard/index.ts
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard-body.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/step-navigation.test.tsx
  src/components/core/wizard/mobile-wizard/index.ts
  src/components/core/wizard/mobile-wizard/mobile-wizard-body.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/right-panel.tsx
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
  src/components/core/wizard/mobile-wizard/step.tsx
  src/components/core/wizard/stories/assets/cfds-background.svg
  src/components/core/wizard/stories/assets/ic-cfds-logo.svg
  src/components/core/wizard/stories/assets/ic-multipliers-logo.svg
  src/components/core/wizard/stories/assets/ic-options-logo.svg
  src/components/core/wizard/stories/assets/multipliers-background.svg
  src/components/core/wizard/stories/assets/options-background.svg
  src/components/core/wizard/stories/steps/components/product-card.tsx
  src/components/core/wizard/stories/steps/steps-content.tsx
  src/components/core/wizard/stories/wizard.stories.tsx
  src/components/core/wizard/wizard.tsx
  src/styles/stitches.config.ts
  src/utils/index.ts
  src/utils/responsive.ts
  tsconfig.json
Due: prettier --write, svgo, svgo -h

feature: added list component (#244)
  src/components/core/index.ts
  src/components/core/list/base/base-list-item.tsx
  src/components/core/list/base/base-list.tsx
  src/components/core/list/base/base-ul.tsx
  src/components/core/list/composed/check-list-item.tsx
  src/components/core/list/composed/compound-list-item.tsx
  src/components/core/list/composed/derived-lists.tsx
  src/components/core/list/list-variants/bulleted/index.tsx
  src/components/core/list/list-variants/check/index.tsx
  src/components/core/list/list-variants/compound/index.tsx
  src/components/core/list/list-variants/number/index.tsx
  src/components/core/list/list.test.tsx
  src/components/core/list/list.tsx
  src/components/core/list/render-functions/index.tsx
  src/components/core/list/stories/bulletelist.stories.tsx
  src/components/core/list/stories/checklist.stories.tsx
  src/components/core/list/stories/compoundlist.stories.tsx
  src/components/core/list/stories/numberlist.stories.tsx
  src/components/core/list/stories/utils.tsx
  src/components/core/list/types/index.ts
  src/images/svg/checked-tick-icon.svg
  src/images/svg/default-action-icon.svg
  src/images/svg/default-list-icon.svg
  src/images/svg/default-tick-icon.svg
Due: prettier --write, svgo, svgo -h

Vinu/ feat: add design change for tab and tabs component (#247)
  colors.ts
  src/components/core/tabs/stories/tabs.stories.tsx
  src/components/core/tabs/tab.module.scss
  src/components/core/tabs/tab.tsx
  src/components/core/tabs/tabs.module.scss
  src/components/core/tabs/tabs.tsx
  src/styles/design-token.json
Due: prettier --write

Vinu/Radio button group (#243)
  package-lock.json
  package.json
  src/components/core/radio-group/radio-group.tsx
  src/components/core/radio-group/stories/radio-group.stories.tsx
  src/styles/stitches.config.ts
Due: prettier --write

chore: update version
  package-lock.json
  package.json
Due: none

chore: update version (#250)
  package-lock.json
  package.json
Due: none

fix-build-issue
  src/components/core/wizard/desktop-wizard/__tests__/desktop-wizard-body.test.tsx
  src/components/core/wizard/desktop-wizard/__tests__/desktop-wizard.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard-body.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard.test.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard-body.tsx
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
  src/components/core/wizard/wizard.tsx
Due: prettier --write

fix-build-issue (#251)
  src/components/core/wizard/desktop-wizard/__tests__/desktop-wizard-body.test.tsx
  src/components/core/wizard/desktop-wizard/__tests__/desktop-wizard.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard-body.test.tsx
  src/components/core/wizard/mobile-wizard/__tests__/mobile-wizard.test.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard-body.tsx
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
  src/components/core/wizard/wizard.tsx
Due: prettier --write

feat: added theme context
  .storybook/preview.ts
  .storybook/shared/decorators/with-background.tsx
  .storybook/shared/decorators/with-theme.tsx
  src/components/core/theme-context/theme-context.tsx
  src/components/core/theme-context/theme-provider.tsx
Due: prettier --write

update: updated breadcrumb component
  src/components/core/breadcrumb/breadcrumb.test.tsx
  src/components/core/breadcrumb/breadcrumb.tsx
  src/components/core/breadcrumb/stories/breadcrumb.stories.tsx
Due: prettier --write

feat: added accordion to deriv-ui
  mixins.ts
  src/components/core/accordion/accordion.tsx
  src/components/core/accordion/stories/accordion.stories.tsx
  src/components/core/breadcrumb/breadcrumb.tsx
  src/images/svg/accordion-collapse.svg
  src/images/svg/accordion-expand.svg
  src/images/svg/accordion-small-collapse.svg
  src/images/svg/accordion-small-expand.svg
  src/styles/design-token.json
  src/styles/stitches.config.ts
Due: prettier --write, svgo, svgo -h

border color fix in accordion
  src/components/core/accordion/accordion.tsx
Due: prettier --write

added height and width to icon in accordion
  src/components/core/accordion/accordion.tsx
Due: prettier --write

update: updated button component with useTheme
  src/components/core/breadcrumb/breadcrumb.tsx
  src/components/core/button/button.tsx
  src/components/core/button/stories/button.stories.tsx
  src/components/core/theme-context/use-theme.tsx
Due: prettier --write

update: updated checkbox component with useTheme
  src/components/core/checkbox/checkbox.tsx
  src/components/core/checkbox/stories/checkbox.stories.tsx
Due: prettier --write

update: updated checklist with useTheme
  src/components/core/checkbox-list/checkbox-list.tsx
  src/components/core/checkbox-list/stories/checkbox-list.stories.tsx
Due: prettier --write

update: updated list with useTheme
  src/components/core/list/list-variants/bulleted/index.tsx
  src/components/core/list/list-variants/check/index.tsx
  src/components/core/list/list-variants/compound/index.tsx
  src/components/core/list/list-variants/number/index.tsx
  src/components/core/list/stories/bulletelist.stories.tsx
  src/components/core/list/stories/checklist.stories.tsx
  src/components/core/list/stories/compoundlist.stories.tsx
  src/components/core/list/stories/numberlist.stories.tsx
  src/components/core/list/stories/utils.tsx
  src/components/core/list/types/index.ts
Due: prettier --write

update: updated radioButton with useTheme
  src/components/core/radio-group/radio-group.tsx
  src/components/core/radio-group/stories/radio-group.stories.tsx
Due: prettier --write

update: update scrollbar component with useTheme
  src/components/core/scrollbars/scrollbars.test.tsx
  src/components/core/scrollbars/scrollbars.tsx
  src/components/core/scrollbars/stories/scrollbars.stories.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
  svgo: any of: *.svg
  svgo -h: any of: *.svg
