Repository binary-com/deriv-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, svgo, svgo -h

update: updated tabs with useTheme
  src/components/core/tabs/stories/tabs.stories.tsx
  src/components/core/tabs/tab.tsx
  src/components/core/tabs/tabs.tsx
Due: prettier --write

split deriv components into multiple components
  src/components/core/accordion/accordion-content.tsx
  src/components/core/accordion/accordion-title.tsx
  src/components/core/accordion/accordion.tsx
Due: prettier --write

update: updated wizard component with useTheme
  src/components/core/button/button.test.tsx
  src/components/core/button/button.tsx
  src/components/core/list/list.test.tsx
  src/components/core/text/stories/text.stories.tsx
  src/components/core/toggle-switch/stories/toggle-switch.stories.tsx
  src/components/core/toggle-switch/toggle-switch.tsx
  src/components/core/wizard/__tests__/step-navigation.test.tsx
  src/components/core/wizard/__tests__/wizard-body.test.tsx
  src/components/core/wizard/__tests__/wizard.test.tsx
  src/components/core/wizard/desktop-wizard/__tests__/desktop-wizard-body.test.tsx
  src/components/core/wizard/desktop-wizard/__tests__/desktop-wizard.test.tsx
  src/components/core/wizard/desktop-wizard/__tests__/step-navigation.test.tsx
  src/components/core/wizard/desktop-wizard/desktop-wizard-body.tsx
  src/components/core/wizard/desktop-wizard/desktop-wizard.tsx
  src/components/core/wizard/desktop-wizard/step-navigation.tsx
  src/components/core/wizard/mobile-wizard/__tests__/step-navigation.test.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard-body.tsx
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
  src/components/core/wizard/stories/wizard.stories.tsx
  src/components/core/wizard/types.ts
  src/components/core/wizard/wizard.tsx
  src/test-setup.tsx
Due: prettier --write

update: updated with-background
  .storybook/preview-body.html
  .storybook/shared/decorators/with-background.tsx
Due: none

update: updated wizard and used theme colors
  src/components/core/wizard/mobile-wizard/step-navigation.tsx
Due: prettier --write

chore: updated theme provider
  src/components/core/theme-context/theme-provider.tsx
Due: prettier --write

update: added ThemeProvider and useTheme to export
  src/components/core/index.ts
Due: prettier --write

added files for tooltip with arrow
  package-lock.json
  package.json
  src/components/core/arrow-tooltip/arrow-tooltip.tsx
  src/components/core/arrow-tooltip/stories/arrow-tooltip.stories.tsx
  src/images/svg/curved-arrow.svg
  src/images/svg/straight-arrow.svg
Due: prettier --write, svgo, svgo -h

seperated accordion title and content from main accordion
  src/components/core/accordion/accordion-content.tsx
  src/components/core/accordion/accordion-title.tsx
  src/components/core/accordion/accordion.tsx
  src/components/core/accordion/stories/accordion.stories.tsx
Due: prettier --write

handled toggleState for accordion inside accordion component
  src/components/core/accordion/accordion-content.tsx
  src/components/core/accordion/accordion-title.tsx
  src/components/core/accordion/accordion.tsx
  src/components/core/accordion/stories/accordion.stories.tsx
Due: prettier --write

fixed a typo in accordion
  src/components/core/accordion/accordion-title.tsx
  src/components/core/accordion/stories/accordion.stories.tsx
Due: prettier --write

removed console log from accordion stories
  src/components/core/accordion/stories/accordion.stories.tsx
Due: prettier --write

chore: removed FC types from list comopnent
  src/components/core/list/composed/check-list-item.tsx
  src/components/core/list/composed/compound-list-item.tsx
  src/components/core/list/list-variants/bulleted/index.tsx
  src/components/core/list/list-variants/check/index.tsx
  src/components/core/list/list-variants/compound/index.tsx
  src/components/core/list/list-variants/number/index.tsx
  src/components/core/list/types/index.ts
Due: prettier --write

added chages to include dark theme from context
  src/components/core/accordion/accordion-title.tsx
  src/components/core/accordion/accordion.tsx
  src/components/core/accordion/stories/accordion.stories.tsx
Due: prettier --write

michio/chore: removed FC types from list comopnent (#255)
  src/components/core/list/composed/check-list-item.tsx
  src/components/core/list/composed/compound-list-item.tsx
  src/components/core/list/list-variants/bulleted/index.tsx
  src/components/core/list/list-variants/check/index.tsx
  src/components/core/list/list-variants/compound/index.tsx
  src/components/core/list/list-variants/number/index.tsx
  src/components/core/list/types/index.ts
Due: prettier --write

fix_wizard_issues
  src/components/core/wizard/mobile-wizard/mobile-wizard.tsx
  src/components/core/wizard/mobile-wizard/right-panel.tsx
  src/components/core/wizard/stories/wizard.stories.tsx
  src/components/core/wizard/types.ts
  src/components/core/wizard/wizard.tsx
Due: prettier --write

fix_issue
  src/components/core/wizard/wizard.tsx
Due: prettier --write

added elevation box shadow and updated design-token json file
  colors.ts
  mixins.ts
  src/components/core/accordion/accordion.tsx
  src/components/core/tabs/tab.tsx
  src/styles/design-token.json
  src/styles/stitches.config.ts
Due: prettier --write

refactored the code, added types for elevation
  src/components/core/accordion/accordion.tsx
  src/styles/stitches.config.ts
  src/types/elevation.type.ts
Due: prettier --write

updated design token json file with latest one
  src/styles/design-token.json
Due: prettier --write

feat: Add tooltip with arrow and without arrow
  src/components/core/arrow-tooltip/stories/arrow-tooltip.stories.tsx
  src/components/core/tooltip/arrow-tooltip/arrow-tooltip.tsx
  src/components/core/tooltip/arrow-tooltip/stories/arrow-tooltip.stories.tsx
  src/components/core/tooltip/tooltip/stories/tooltip.stories.tsx
  src/components/core/tooltip/tooltip/tooltip.tsx
  src/images/svg/curved-arrow.svg
  src/images/svg/straight-arrow.svg
Due: prettier --write, svgo, svgo -h

fixed order of imports in tooltip
  src/components/core/tooltip/arrow-tooltip/arrow-tooltip.tsx
  src/components/core/tooltip/arrow-tooltip/stories/arrow-tooltip.stories.tsx
  src/components/core/tooltip/tooltip/stories/tooltip.stories.tsx
Due: prettier --write

converted padding in tooltip to relative unit
  src/components/core/tooltip/arrow-tooltip/arrow-tooltip.tsx
  src/components/core/tooltip/tooltip/tooltip.tsx
Due: prettier --write

change in arrow-tooltip to append classNames
  src/components/core/tooltip/arrow-tooltip/arrow-tooltip.tsx
Due: prettier --write

Add theming to the Text
  src/components/core/text/stories/text.stories.tsx
  src/components/core/text/text.tsx
Due: prettier --write

Setup ESLint
  .eslintrc.js
  .gitignore
  package-lock.json
  package.json
Due: none

updated design token json file
  src/styles/design-token.json
Due: prettier --write

fix: fixed webpack config
  package-lock.json
  package.json
  src/components/core/theme-context/theme-provider.tsx
  webpack.config.ts
Due: prettier --write

Add props to the Text Component
  .gitignore
  src/components/core/text/text.tsx
Due: prettier --write

modal page and dialog implementation
  src/components/core/index.ts
  src/components/core/modal/dialog.tsx
  src/components/core/modal/modal.test.tsx
  src/components/core/modal/modal.tsx
  src/components/core/modal/page.tsx
  src/components/core/modal/stories/modal.stories.tsx
  src/components/core/modal/types/index.ts
  src/images/svg/default-list-icon-dark.svg
Due: prettier --write, svgo, svgo -h

Update eslint rule
  .eslintrc.js
  package.json
Due: none

Use array of values for type definition
  src/components/core/text/text.tsx
Due: prettier --write

chore: removed file-loader package
  package-lock.json
  package.json
Due: none

hamid/add-theme-to-text-component (#259)
  .gitignore
  src/components/core/text/stories/text.stories.tsx
  src/components/core/text/text.tsx
Due: prettier --write

Mohsen / fixed webpack config (#261)
  package-lock.json
  package.json
  src/components/core/theme-context/theme-provider.tsx
  webpack.config.ts
Due: prettier --write

refactor: changed the prop types fo Accordion and Accordion title component
  mixins.ts
  src/components/core/accordion/accordion-title.tsx
  src/components/core/accordion/accordion.tsx
  src/styles/stitches.config.ts
Due: prettier --write

removed dark prop from tooltip
  src/components/core/tooltip/tooltip/tooltip.tsx
Due: prettier --write

use radix/ui dialog as a container
  package-lock.json
  package.json
  src/components/core/modal/dialog.tsx
  src/components/core/modal/modal.tsx
  src/components/core/modal/page.tsx
  src/components/core/modal/stories/modal.stories.tsx
  src/components/core/modal/types/index.ts
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
  svgo: any of: *.svg
  svgo -h: any of: *.svg
